<?xml version="1.0" encoding="UTF-8" ?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    name="PHP_CodeSniffer"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    
    <description>Coding standards for Charged Timer project</description>
    
    <!-- Define locations where coding standards should be applied -->
    <file>src</file>
    <file>tests</file>
    
    <!-- Define command line arguments we always want to use -->
    <arg name="basepath" value="."/>
    <arg name="parallel" value="75"/>
    <arg value="p"/>
    
    <!-- Define coding standards we want to adhere to -->
    <rule ref="PSR1"/>
    <rule ref="PSR2"/>
    <rule ref="PSR12"/>

    <!-- Ban some functions -->
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array">
                <element key="sizeof" value="count"/>
                <element key="delete" value="unset"/>
                <element key="print" value="echo"/>
                <element key="is_null" value="null"/>
                <element key="create_function" value="null"/>
                <element key="var_dump" value="null"/>
                <element key="print_r" value="null"/>
            </property>
        </properties>
    </rule>

</ruleset>